<md-toolbar layout="row" layout-align="start center" ng-controller="NavbarCtrl">
  <md-button class="md-toolbar-tools md-accent" href="/">
    <img src="/assets/images/Warhammer40000Logo.gif"
    alt="Warhammer 40000"
    class = "navbar-image"/>
  </md-button>

  <md-select flex layout-margin placeholder="Règles" ng-model="dropdownModel">
    <md-option ng-value="readAllRules" ng-click="showRules()">Read All</md-option>
  </md-select>
  <md-select flex layout-margin placeholder="Equipements" ng-model="dropdownModel">
    <md-option ng-value="readAllRules" ng-click="showRules()">Read All</md-option>
  </md-select>

</md-toolbar>
