<div layout="vertical" layout-fill>

  <md-content>
    <header ng-include="'app/components/navbar/navbar.html'"></header>
    <div layout-align="center">
      <md-list>
        <md-list-item ng-repeat="rule in rules | orderBy:'id'" ng-click="showRule(rule.id)">
            <div class="md-list-item-text">
              <h3>{{rule.name}}</h3>
              <p>{{rule.description}}</p>
              <p>{{rule.codex}}</p>
            </div>
        </md-list-item>
      </md-list>
    </div>
  </md-content>

</div>
